agate==1.9.1
agate-dbf==0.2.2
agate-excel==0.4.1
agate-sql==0.7.2
aiocoap==0.4.12
aiofiles==23.2.1
alabaster==0.7.16
annotated-types==0.6.0
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astroid==3.0.3
asttokens==3.0.0
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
breathe==4.35.0
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
clang-format==17.0.4
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
csa==0.1.12
css-html-js-minify==2.5.5
csvkit==1.3.0
cycler==0.12.1
Cython==3.0.8
data-science-types==0.2.23
dbfread==2.0.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.9
Django==5.0.2
docutils==0.20.1
et-xmlfile==1.1.0
example==0.1.0
execnet==2.0.2
executing==2.2.0
fastapi==0.115.11
fastjsonschema==2.19.1
ffmpy==0.5.0
filelock==3.16.1
Flask==3.0.2
Flask-Cors==4.0.0
fonttools==4.56.0
fqdn==1.5.1
fsspec==2025.2.0
gradio==5.20.0
gradio_client==1.7.2
groovy==0.1.2
gunicorn==21.2.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.29.1
identify==2.5.33
idna==3.6
image==1.5.33
imagesize==1.4.1
iniconfig==2.0.0
ipywidgets==8.1.2
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.3
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
junitparser==3.1.1
kiwisolver==1.4.8
leather==0.3.4
livereload==2.6.3
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
narwhals==1.29.0
nbclient==0.9.0
nest==0.4.4
nodeenv==1.8.0
numpy==1.26.4
numpydoc==1.6.0
olefile==0.47
openpyxl==3.1.2
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
pipenv==2024.4.0
plotly==6.0.0
pluggy==1.4.0
prometheus-client==0.19.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydot==2.0.0
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-multipart==0.0.20
python-slugify==8.0.3
pytimeparse==1.1.8
pytz==2025.1
PyYAML==6.0.1
referencing==0.33.0
requests==2.31.0
RestrictedPython==7.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.17.1
rstcheck==6.2.0
rstcheck-core==1.2.0
safehttpx==0.1.6
scipy==1.14.0
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
SQLAlchemy==2.0.25
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.46.0
tabulate==0.9.0
terminado==0.18.0
terminaltables==3.1.10
text-unidecode==1.3
tinycss2==1.2.1
tomlkit==0.12.3
tqdm==4.66.1
traitlets==5.14.3
typer==0.15.2
types-python-dateutil==2.8.19.20240106
typing_extensions==4.12.2
tzdata==2025.1
Unidecode==1.3.8
uri-template==1.3.0
urllib3==2.2.0
uvicorn==0.34.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==15.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
xlrd==2.0.1
yamllint==1.34.0
